{{!-- ADD COMMENT PAGE LAYOUT --}}
<section class="card-wrapper">
    <div class="card">
        <h2 class="text-center mt-2">Post New Comment</h2>
        <form id="comment">
            <div class="mb-3">
                <textarea type="text" class="form-control" id="post-content" row="4"
                    placeholder="Insert Post Comment Here"></textarea>
            </div>
            <div class="d-flex justify-content-center">
                <i><a href="/" id="post-comment" class="btn btn-success btn-lg fas fa-sharp fa-solid fa-plus mb-2"
                        type="submit"> Post Comment</a></i>
            </div>
        </form>
    </div>
</section>

  <script src="/js/comment.js"></script>