{{#each posts}}
<div class="card w-90 mb-3">
    <a href="/api/post"></a>
    <h3 class="card-header">{{title}}</h3>
    <div class="card-body">
        <p class="post-content">{{content}}</p>
    </div>
    <div class="card-footer text-muted d-flex justify-content-between">
        <i><a href="/comment" id="add-comment" class="btn btn-success btn fas fa-sharp fa-solid fa-plus" type="submit"> Add Comment</a></i>
        <h6 class="footer-content">Posted by: {{user.username}} on {{format_date createdAt}}</h6>
    </div>
</div>
{{/each}}