{{!-- UPDATING A POST PAGE LAYOUT --}}
<section class="card-wrapper">
    <div class="card">
        <h2 class="text-center mt-2">Update Post</h2>
        <form id="mutate-post">
            <div class="mb-3">
                <input type="text" class="form-control" id="post-title" placeholder="Insert Post Title Here">
            </div>
            <div class="mb-3">
                <textarea type="text" class="form-control" id="post-content" row="4"
                    placeholder="Insert Post Content Here"></textarea>
            </div>
            <div class="d-flex justify-content-center">
                <i><button id="update-post" class="btn btn-warning btn-lg fas fa-solid fa-pen mb-2"> Update
                        Post</button></i>
            </div>
        </form>
    </div>
</section>
<div id="notify" class="hidden alert alert-warning mt-2 text-center" role="alert">
  Title and Content must be at least 4 characters long!
</div>

<script src="/js/mutation.js"></script>